.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.container {
  width: calc(70vh / 960 * 540);
  display: flex;
  justify-content: space-around;
  margin-bottom: 8vh;
  padding-bottom: 5px;
  border-bottom: 3px solid #000;
}
.innerContainer {
  display: flex;
}
